#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 01_Another_Patrol
    name= _ "Another Patrol"
    next_scenario=02_Bandit_Camp
    map_data= "{~add-ons/knights_of_the_silver_spire/maps/01_Another_Patrol.map}"
    turns = 12

    # The time of day
    {DEFAULT_SCHEDULE}

    {MUSIC_01}

    # Setup
    [event]
        name=prestart
        {STANDARD_OBJECTIVES}
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=29
        y=19

        {GOLD 200 150 120}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Bandits"
        controller = ai

        id = BL1
        type = Thief
        gender = female
        recruit = Ruffian
        x=10
        y=7

        {GOLD 60 60 60}
        {INCOME 5 10 15}

        [ai]
            aggression = 1.0
            passive_leader = yes
        [/ai]
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]

        #ifhave ~add-ons/War_of_Legends/_main.cfg
        [part]
            title = _ "<i>Version Information</i>"
            story = _ "This campaign is designed to also work without the War of Legends add-on.

War of Legends is currently installed which means you will play the version with vampire units from the Era of Myths.

If you want to play the other (lesser) version, uninstall the War of Legends add-on.

Do note, the other version is meant as a 'stopgap' for people who cannot install War of Legends for some reason.

In any case, onto the story!"
            background="portraits/vampire-noble.png~SCALE(569, 569)"
            scale_background=no
        [/part]
        #else
        [part]
            title = _ "<i>Version Information</i>"
            story = _ "This campaign is designed to also work without the <i>War of Legends</i> add-on.

It is currently not installed which means you will play the version without vampire units from the Era of Myths.

If you want to play the other (better) version, install the <i>War of Legends</i> add-on.

Do note, this version is meant as a 'stopgap' for people who cannot install War of Legends for some reason.

In any case, onto the story!"
            background="portraits/undead/wraith.webp~SCALE(569, 569)"
            scale_background=no
        [/part]
        #endif

        [part]
            story = _ "In the year 253 since the founding of Wesnoth, the kingdom prospered under the rule of Haldric III, King of Wesnoth.

The orcish menace had been beaten back and the lands between Elensefar and Weldyn pacified."
        [/part]
        [part]
            story = _ "Since 199YW, colonization of the lands north of the Great River had begun and now, more than fifty years later, thriving settlements had sprung up at the foot of the Heart Mountains and even beyond, in the Far North."
        [/part]
        [part]
            story = _ "However, while the rest of the kingdom enjoyed relative peace, this was far from the case in the northernmost reaches where the orcish presence was far greater than further south.

This, in turn, led to widespread banditry as the army was often occupied repelling orcish incursions."
        [/part]
        [part]
            story = _ "The early settlements would not have survived without help from knightly orders who roamed the land, safeguarding vital trade routes and protecting the citizenry from ne'er-do-wells.

Amongst these righteous bands of warriors there were the Knights of the Silver Spire, named for the argent shine of the tower that served as their headquarters within Dorest, the largest city north of the Longlier."
        [/part]
        [part]
            story = _ "Their leader was a young knight of the realm who had gone alongside his friends to help make the Northlands safe.

Though they were relatively new and few in numbers, they had already started to establish themselves as stalwart defenders of the innocent and were tireless in their battles against the enemies of the kingdom."
            background="portraits/humans/grand-knight-2.webp~SCALE(569, 569)"
            scale_background=no
        [/part]
        [part]
            story = _ "It was thus just another day, another patrol on the road towards Lmarig when they learned that the village was being raided by bandits, servants of the Crimson Duke, a new bandit lord that had risen in the region.

They sped with all haste towards the village, hoping to help the villagers and perhaps even find some way to take out the bandits' leader."
        [/part]
        [part]
            title = _ "Chapter One
<i>Just Another Patrol</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_01}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start
        [message]
            speaker = BL1
            message = _ "Oh my, ya didn't have that many riches but hey, it's still sum'thing. Tha Crimson Duke'll be happy!"
        [/message]
        [message]
            speaker = MC
            message = _ "You pitiful wretch, attacking defenseless civilians!"
        [/message]
        [message]
            speaker = BL1
            message = _ "Foolish knights, prancing around... Aight boys, pack up the stuff, we're leavin' with da loot!"
        [/message]
        [message]
            speaker = MC
            message = _ "Rabble like you should be hanging, not blabbering. Let us rectify this travesty forthwith."
        [/message]
    [/event]

    # Battle end
    [event]
        name=last breath
        [filter]
            id = BL1
        [/filter]
        [message]
            speaker = BL1
            message = _ "Fall back, fall ba—!"
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id = BL1
        [/filter]
        [message]
            speaker = second_unit
            message = _ "The scum is dead."
        [/message]
    [/event]
    [event]
        name = victory
        [message]
            speaker = MC
            message = _ "Scatter the wretches. They will run back to their main camp and we will slaughter them there."
        [/message]
    [/event]

    #Turns run out
    [event]
        name= time over
        [message]
            speaker = BL1
            message = _ "We've got all we could've asked for. Let's lose'em in the mountains!"
        [/message]
        [message]
            speaker = MC
            message = _ "No! The villagers won't survive without food!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {CARRYOVER_EFFECT_40}

[/scenario]
