#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 02_Bandit_Camp
    name= _ "Bandit Camp"
    next_scenario=03_Merfolk_Party
    map_data= "{~add-ons/knights_of_the_silver_spire/maps/02_Bandit_Camp.map}"
    turns = 12
    
    # The time of day
    {DEFAULT_SCHEDULE}

    {MUSIC_02}
    
    # Setup
    [event]
        name=prestart
        {STANDARD_OBJECTIVES}
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=2
        y=12

        {GOLD 200 150 120}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Bandits"
        controller = ai
    
        id = BL1
        type = Bandit
        recruit = Thug, Footpad, Thief
        x=19
        y=4
        [unit]
            {BBM}
            x = 20
            y = 4
        [/unit]

        {GOLD 100 100 100}
        {INCOME 10 15 30}
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "After the battle, the remains of the bandit force dispersed, trying to head back to safety and their camp.

The knights followed them into the mountains, that they might put an end to this specific threat, once and for all."
        [/part]
        [part]
            title = _ "Chapter Two
<i>Bandit Camp</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_02}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start
        [message]
            speaker = MC
            message = _ "Oh my, more vermin to kill..."
        [/message]
        [message]
            speaker = BBM
            message = _ "Fools, you led them right here!"
        [/message]
        [message]
            speaker = BL1
            message = _ "I'll handle 'em master, the Crimson Duke won't be unhappy!"
        [/message]
        [message]
            speaker = BBM
            message = _ "See that you give him no cause to be displeased."
        [/message]
        [move_unit]
            id = BBM
            to_x = 26
            to_y = 3
        [/move_unit]
        [kill]
            id = BBM
        [/kill]

        [message]
            speaker = MC
            message = _ "That man seemed to be their leader. We must go through them fast and catch him!"
        [/message]
    [/event]

    # Battle end=
    [event]
        name=last breath
        [filter]
            id = BL1
        [/filter]
        [message]
            speaker = BL1
            message = _ "Nooo, master!"
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id = BL1
        [/filter]
        [message]
            speaker = second_unit
            message = _ "And down he goes... That amount of devotion was unusual, however... Is it because of that <i>Crimson Duke</i> they have as a leader?"
        [/message]
    [/event]
    [event]
        name=victory
        [message]
            speaker = MC
            message = _ "Let us try and catch their <i>master</i> to find out why."
        [/message]
    [/event]

    #Turns run out
    [event]
        name= time over
        [message]
            speaker = MC
            message = _ "This is too slow, at this rate he will be lost to us!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
    {CARRYOVER_EFFECT_40}

[/scenario]
