#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 03_Merfolk_Party
    name= _ "Merfolk Party"
    next_scenario=04_Temple_Assault
    map_data="{~add-ons/knights_of_the_silver_spire/maps/03_Merfolk_Party.map}"
    turns = 13

    # The time of day
    {DEFAULT_SCHEDULE}

    {MUSIC_03}

    # Setup
    [event]
        name=prestart
        {STANDARD_OBJECTIVES}
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=23
        y=16

        {GOLD 200 150 120}
        {INCOME 3 2 1}

        [leader]
            {MP}
            x = 5
            y = 11
        [/leader]

        [ai]
            aggression = 1.0
            passive_leader = yes
        [/ai]
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Bandits"
        controller = ai

        id = BL1
        type = Outlaw
        recruit = Thug, Footpad, Thief
        x=12
        y=1

        {GOLD 100 100 100}
        {INCOME 10 15 30}
    [/side]

    [side]
        side=3
        team_name = 2
        user_team_name = _ "Bandits"
        controller = ai

        id = BL2
        type = Dark Adept
        recruit = Soulless
        x=8
        y=4

        {GOLD 100 100 100}
        {INCOME 10 15 30}

        [ai]
            aggression = 1.0
            passive_leader = yes
        [/ai]
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "The knights hurried after the mysterious figure and attempted to find out who it was.

However, it proved elusive and its trail was lost north of the mountains."
        [/part]
        [part]
            story = _ "This was not all in vain however, for they encountered merfolk battling bandits and dark mages at the source of the River Oumph."
        [/part]
        [part]
            title = _ "Chapter Three
<i>Merfolk Party</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_03}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start
        [message]
            speaker = MP
            message = _ "Hail, noble knights. What brings you here?"
        [/message]
        [message]
            speaker = MC
            message = _ "Greetings to you, fair lady. We hunt bandits who have attacked human villages south of here. They have eluded us, though others of their ilk seem to have found their way to you."
        [/message]
        [message]
            speaker = MP
            message = _ "Indeed they have, and I would request your aid, for these ones wish to stop us from heading downriver where their brethren are looting an ancient temple hiding dark relics!"
        [/message]
        [message]
            speaker = MC
            message = _ "Then we must provide assistance against these miscreants!"
        [/message]
    [/event]

    # Battle end
    [event]
        name = last breath
        [filter]
            id = BL1
        [/filter]
        [message]
            speaker = BL1
            message = _ "I am sorry... m'lord..."
        [/message]
    [/event]
    [event]
        name=victory
        [message]
            speaker = MP
            message = _ "They were quite dedicated to their superiors."
        [/message]
        [message]
            speaker = MC
            message = _ "Ours were as well, perhaps they are of the same kind. In any case, let us head north as fast as possible."
        [/message]
    [/event]

    #Turns run out
    [event]
        name= time over
        [message]
            speaker = MP
            message = _ "At this rate we shall never reach the temple in time!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {CARRYOVER_EFFECT_40}

[/scenario]
