#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 04_Temple_Assault
    name= _ "Temple Assault"
    next_scenario=05_Sacrilege
    map_data="{~add-ons/knights_of_the_silver_spire/maps/04_Temple_Assault.map}"
    turns = 13
    
    # The time of day
    {DEFAULT_SCHEDULE}

    {MUSIC_04}
    
    # Setup
    [event]
        name=prestart
        {STANDARD_OBJECTIVES}
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=15
        y=22

        {GOLD 200 150 120}
        {INCOME 3 2 1}

        [leader]
            {MP}
            x = 3
            y = 19
        [/leader]
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Bandits"
        controller = ai
    
        id = BL1
        type = Trapper
        recruit = Thug, Footpad, Thief
        x=21
        y=11

        {GOLD 100 100 100}
        {INCOME 10 15 30}

        [ai]
            aggression = 1.0
            passive_leader = yes
        [/ai]
    [/side]

    [side]
        side=3
        team_name = 2
        user_team_name = _ "Bandits"
        controller = ai
    
        id = BL2
        type = Dark Adept
        recruit = Soulless
        x=6
        y=3

        {GOLD 100 100 100}
        {INCOME 10 15 30}

        [ai]
            aggression = 1.0
            passive_leader = yes
        [/ai]
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "After encountering Lady Ariel and her merfolk troops, they all headed north, to the mouth of the river and the temple located there.

All along, they pondered the motives of these bandits and the reason of their loyalty to the one the caped figure represented, though they believed they would soon obtain the answers."
        [/part]
        [part]
            title = _ "Chapter Four
<i>Temple Assault</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_04}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start

        [label]
            x = 6
            y = 3
            text = _ "Ancient Temple"
            side = 0
        [/label]

        [message]
            speaker = MP
            message = _ "We have arrived. It seems they have already entered the temple!"
        [/message]
        [message]
            speaker = MC
            message = _ "In that case, we shall take them out!"
        [/message]
        [message]
            speaker = BL2
            message = _ "Enemies are here, protect the master!"
        [/message]
    [/event]

    # Battle end
    [event]
        name = last breath
        [filter]
            id = BL2
        [/filter]
        [message]
            speaker = BL2
            message = _ "Master, we have failed you..."
        [/message]
    [/event]
    [event]
        name=victory
        [message]
            speaker = MC
            message = _ "Finally, we shall find out what this is all about."
        [/message]
    [/event]

    #Turns run out
    [event]
        name= time over
        [message]
            speaker = MP
            message = _ "They will have stolen everything by the time we get in!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
    {CARRYOVER_EFFECT_40}

[/scenario]
