#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 05_Sacrilege
    name= _ "Sacrilege"
    next_scenario=06_Shadows_Rise
    map_data="{~add-ons/knights_of_the_silver_spire/maps/05_Sacrilege.map}"
    turns = 13
    
    # The time of day
    {UNDERGROUND}

    {MUSIC_05}
    
    # Setup
    [event]
        name=prestart
        {STANDARD_OBJECTIVES}
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=8
        y=10

        {GOLD 200 150 120}
        {INCOME 3 2 1}

        [leader]
            {MP}
            x = 9
            y = 11
        [/leader]
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Bandits"
        controller = ai
    
        {BBM}
        x=9
        y=5

        {GOLD 100 100 100}
        {INCOME 10 15 30}
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "They entered the temple with all haste, that the enemy may be stopped.

Advancing through these ruins, they felt a chill permeate them, as though a darkness was creeping through."
        [/part]
        [part]
            title = _ "Chapter Five
<i>Sacrilege</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_05}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start

        [item]
            x = 9
            y = 6
            image = "items/altar-evil.png"
        [/item]

        [message]
            speaker = MC
            message = _ "Wait... You were conniving with the bandits raiding our villages!"
        [/message]
        [message]
            speaker = BBM
            message = _ "You... You killed quite a few of my master's servants... How annoying..."
        [/message]
        [message]
            speaker = MP
            message = _ "What are you doing with these dark relics!"
        [/message]
        [message]
            speaker = BBM
            message = _ "Taking them with me for the Crimson Duke has need of them."
        [/message]
        [message]
            speaker = MC
            message = _ "You shall do no such thing!"
        [/message]
        [message]
            speaker = BBM
            message = _ "You have no way of stopping me, weakling. Now, do forgive me while I take my leave."
        [/message]
        [message]
            speaker = MP
            message = _ "Return these to their place!"
        [/message]
        {THUNDER (
            [unit]
                side = 2
                {BBH}
                x = 9
                y = 5
                overwrite = yes
            [/unit]
        )}
        [message]
            speaker = BBH
            message = _ "Aargh, the Light always hurts... Fools, try and catch me."
        [/message]
        [move_unit]
            id = BBH
            to_x = 9
            to_y = 1
        [/move_unit]
        [kill]
            id = BBH
        [/kill]
        [message]
            speaker = MC
            message = _ "That was Baron Luroc, a retainer of Duke Myrraent! We have to arrest him!"
        [/message]

        [fire_event]
            name = victory
        [/fire_event]
    [/event]
    
    {CARRYOVER_EFFECT_DIALOGUE}

[/scenario]