#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 06_Shadows_Rise
    name= _ "Shadows Rise"
    next_scenario=07_Shore_Of_The_Avalynne
    map_data="{~add-ons/knights_of_the_silver_spire/maps/06_Shadows_Rise.map}"
    turns = 13
    
    # The time of day
    {DEFAULT_SCHEDULE_24H}
    current_time = 12

    {MUSIC_06}
    
    # Setup
    [event]
        name=prestart
        [objectives]
            [objective]
                condition=win
                description= _ "Hold until dawn"
            [/objective]
            {ALTERNATIVE_OBJECTIVE_BONUS (_ "Defeat all enemy leaders")}
            {DEATH_LOSS}
            {CARRYOVER_INFO_40}
        [/objectives]
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=2
        y=1

        {GOLD 120 90 75}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 1
        user_team_name = _ "Wesnoth"
        controller = ai
    
        {BBH}
        x=19
        y=11

        [unit]
            type = Spearman
            id = SP
            x = 7
            y = 3
        [/unit]
        [unit]
            type = Spearman
            x = 10
            y = 12
        [/unit]

        {GOLD 100 100 100}
        {INCOME 10 15 30}

        [ai]
            aggression = 1.0
            passive_leader = yes
        [/ai]
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "Though they tried, they failed to catch Baron Luroc within the temple and, once outside, found no trace of him."
        [/part]
        [part]
            story = _ "They were thus left with no recourse but for the knights to head to Farzi, a town within the fiefdom of Duke Myrraent, Luroc's suzerain, in the hopes of informing him of his vassal's conniving with bandits and plundering of forbidden artifacts."
        [/part]
        [part]
            title = _ "Chapter Six
<i>Shadows Rise</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_06}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start
        [hide_unit]
            id = BBH
        [/hide_unit]

        [capture_village]
            [filter_location]
                x = 10
                y = 10
                radius = 20
            [/filter_location]
            side = 2
        [/capture_village]
            
        [message]
            speaker = MC
            message = _ "Hail, we are the Knights of the Silver Spire and we seek an audience with Duke Myrraent on a matter of utmost import."
        [/message]
        [message]
            speaker = SP
            message = _ "I shall inform him, please come in."
        [/message]
        [move_unit]
            id = MC
            to_x = 9
            to_y = 5
        [/move_unit]
        [terrain_mask]
            x,y = 8,3
            mask = "{~add-ons/knights_of_the_silver_spire/masks/06_Shadows_Rise_1.mask}"
        [/terrain_mask]
        [move_unit]
            id = SP
            to_x = 18
            to_y = 10
        [/move_unit]
        [hide_unit]
            id = SP
        [/hide_unit]
        [move_unit]
            id = MC
            to_x = 9
            to_y = 5
        [/move_unit]
        [unhide_unit]
            side = 2
        [/unhide_unit]
        [move_unit]
            id = SP
            to_x = 7
            to_y = 3
        [/move_unit]
        [message]
            speaker = BBH
            message = _ "My lord Myrraent is not here, might I be of assistance?"
        [/message]
        [message]
            speaker = MC
            message = _ "Baron Loruc, traitor to the Crown! We have evidence of your crimes against the realm!"
        [/message]
        [message]
            speaker = BBH
            message = _ "I have no time to deal with righteous fools like you. You shall not be tolerated during our rise!"
        [/message]

        # Having the if within the macro didn't seem to work for some reason
        #ifhave ~add-ons/War_of_Legends/_main.cfg
        {FLASH_RED (
        [unit]
            {BB}
            side = 2
            canrecruit = yes
            x = 19
            y = 11
            overwrite = yes
        [/unit]
        [modify_side]
            side = 2
            team_name = 2
            user_team_name = _ "Vampires"
        [/modify_side]
        [kill]
            type = Spearman
        [/kill]
        {GENERIC_UNIT 2 Fledgeling 7 3}
        {GENERIC_UNIT 2 Fledgeling 10 12}
        )}
        #else
        {FLASH_RED (
        [unit]
            {BB}
            side = 2
            canrecruit = yes
            x = 19
            y = 11
            overwrite = yes
        [/unit]
        [modify_side]
            side = 2
            team_name = 2
            user_team_name = _ "Vampires"
        [/modify_side]
        )}
        #endif

        [message]
            speaker = BB
            message = _ "I shall enjoy turning you all. Now, let us end this charade."
        [/message]
        [message]
            speaker = MC
            message = _ "Vampires! To battle, everyone! Protect the citizenry and hold until day that we might banish these corpses!"
        [/message]
        [message]
            speaker = BB
            message = _ "Tis not for the rabble you should fear."
        [/message]
    [/event]

    # Ensuring the night and spawns
    [event]
        name = new turn
        first_time_only = no
        [store_time_of_day]
            variable = TIME_OF_DAY
        [/store_time_of_day]
        [set_variable]
            name = TIME_ID
            value = $TIME_OF_DAY.id
        [/set_variable]
        [if]
            [variable]
                name = TIME_ID
                equals = second_watch_hour1
            [/variable]
            [then]
                [replace_schedule]
                    {MIDNIGHT}
                    current_time = 17
                [/replace_schedule]
            [/then]
        [/if]

        [store_villages]
            variable = villages
            owner_side = 2
        [/store_villages]
        [foreach]
            array = villages
            [do]
                #ifhave ~add-ons/War_of_Legends/_main.cfg
                [if]
                    [have_unit]
                        type = Bloodborn
                        count = 0, 1, 2, 3, 4
                    [/have_unit]
                    [then]
                        {GENERIC_UNIT 2 Bloodborn $this_item.x $this_item.y}
                    [/then]
                [/if]
                #else
                [if]
                    [have_unit]
                        type = Walking Corpse
                        count = 0, 1, 2, 3, 4
                    [/have_unit]
                    [then]
                        {GENERIC_UNIT 2 (Walking Corpse) $this_item.x $this_item.y}
                    [/then]
                [/if]
                #endif
            [/do]
        [/foreach]

        [fire_event]
            name = discovery
        [/fire_event]
    [/event]
    [event]
        name = discovery
        [message]
            speaker = MC
            message = _ "What have you done, you monster!"
        [/message]
        [message]
            speaker = BB
            message = _ "They have been given a boon they did not deserve that they may better serve our Master."
        [/message]
    [/event]
    [event]
        name = capture
        [filter]
            side = 1
        [/filter]
        [message]
            speaker = unit
            message = _ "This should stem the flow a little..."
        [/message]
    [/event]

    # BB death
    [event]
        name = last breath
        [filter]
            id = BB
        [/filter]
        [message]
            speaker = BB
            message = _ "No, I will not fall here! You have no chance, the sun will not rise and my minions shall end you!"
        [/message]
        [message]
            speaker = MC
            message = _ "His hordes are indeed numerous, prepare to withdraw and call upon aid from Dorest."
        [/message]
        [fire_event]
            name = victory
        [/fire_event]
    [/event]

    #Turns run out
    [event]
        name= time over
        [message]
            speaker = MC
            message = _ "It should be day by now and yet no sign of the sun..."
        [/message]
        [message]
            speaker = BB
            message = _ "I did not pilfer these artifacts without a reason."
        [/message]
        [message]
            speaker = MC
            message = _ "We are being swarmed and there is little room to maneuver... Fall back, we are at a disadvantage in this battle!"
        [/message]
        [fire_event]
            name = victory
        [/fire_event]
    [/event]

#ifhave ~add-ons/War_of_Legends/_main.cfg
    # First knight death
    [event]
        name = last breath
        [filter]
            side = 1
            [and]
                [not]
                    id = MC
                [/not]
            [/and]
        [/filter]
        [message]
            speaker = BB
            message = _ "Good, another thrall for our forces."
        [/message]
        [message]
            speaker = unit
            message = _ "I may fall but I am shielded by the Light, I shall never serve your kind!"
        [/message]
    [/event]
    [event]
        name = die
        [filter]
            side = 1
            [and]
                [not]
                    id = MC
                [/not]
            [/and]
        [/filter]
        [message]
            speaker = BB
            message = _ "Foolish zealots... We won't be able to turn them..."
        [/message]
    [/event]
#endif
    
    {CARRYOVER_EFFECT_40}

[/scenario]