#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 07_Shore_Of_The_Avalynne
    name= _ "Shore of the Avalynne"
    next_scenario=08a_Light_In_The_Dark
    map_data="{~add-ons/knights_of_the_silver_spire/maps/07_Shore_of_the_Avalynne.map}"
    turns = -1
    victory_when_enemies_defeated = no

    # The time of day
    {MIDNIGHT_HOUR}

    {MUSIC_07}

    # Setup
    [event]
        name=prestart

        # P1Store for the human units
        {VARIABLE WHODIED "MC"}

        [objectives]
            [objective]
                condition = win
                description = _ "Kill as many enemies as possible before Vaedyr dies"
            [/objective]
            {ALTERNATIVE_OBJECTIVE (_ "Defeat an enemy leader")}
            {CARRYOVER_INFO_NONE}
            [note]
                description = _ "Losses are irrelevant. The scenario ends when a leader (Vaedyr or an enemy) dies."
            [/note]
        [/objectives]
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=26
        y=18

        {GOLD 200 150 120}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 1
        user_team_name = _ "Wesnoth"
        controller = ai

        {CDH}
        x=7
        y=5

        {GOLD 200 200 200}
        {INCOME 30 50 70}
    [/side]

    [side]
        side=3
        team_name = 2
        user_team_name = _ "Vampires"
        controller = ai

        {BB}
        x=45
        y=5

        {GOLD 100 100 100}
        {INCOME 10 15 30}
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "The knights rode for a lightless day, heading southwest towards Dorest to warn of the threat, with the vampires hot on their trail."
        [/part]
        [part]
            story = _ "However, they encountered other enemies before the crossing of the Avalynne."
        [/part]
        [part]
            title = _ "Chapter Seven
<i>Shore of the Avalynne</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_07}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    # Battle intro
    [event]
        name=start
        [message]
            speaker = CDH
            message = _ "What have we here? Knights running away from someone?"
        [/message]
        [message]
            speaker = MC
            message = _ "Duke Myrraent, you arrive at a most opportune time. We were heading to Dorest to warn of Baron Luroc's treachery but it seems this was unnecessary as you may assist us against him!"
        [/message]
        [message]
            speaker = CDH
            message = _ "That is a most serious accusation towards one of my vassals. Pray tell, what crime has he commited?"
        [/message]
        [message]
            speaker = MC
            message = _ "Not only is he in leagues with the bandits led by the Crimson Duke who have ransacked multiple villages but he is also a vile vampire!"
        [/message]
        [message]
            speaker = CDH
            message = _ "Alas, I must decline your request. Knights have always bored me, hunting our kind... And they are so reluctant to obey their betters, unlike common bandits, right, Baron?"
        [/message]

        {FLASH_RED (
        [unit]
            {CD}
            canrecruit = yes
            side = 2
            x = 5
            y = 5
            overwrite = yes
        [/unit]
        [modify_side]
            side = 2
            team_name = 2
            user_team_name = _ "Vampires"
        [/modify_side]
        )}
        [message]
            speaker = BB
            message = _ "Indeed, sire. The highwaymen proved most amenable, unlike this rabble."
        [/message]
        [message]
            speaker = MC
            message = _ "You are the Crimson Duke? You have been organizing these bandit raids for months!"
        [/message]
        [message]
            speaker = CD
            message = _ "Indeed I have, that the kingdom might learn to fear my name. Now submit to superior beings else we shall feast on your blood!"
        [/message]
        [message]
            speaker = MC
            message = _ "We are the knights of the Silver Spire and shall never bow to evil! We may be fated to die but we shall not go quietly! Brothers, kill as many as you can, for Wesnoth and for the Light!"
        [/message]
    [/event]

    # Knight death storage
    [event]
        name = die
        first_time_only = no
        [filter]
            side = 1
            [and]
                [not]
                    id = MC
                [/not]
            [/and]
        [/filter]
        [heal_unit]
            [filter]
                id = $unit.id
            [/filter]
            moves = full
            restore_attacks = yes
        [/heal_unit]
        [store_unit]
            [filter]
                id = $unit.id
            [/filter]
            mode = append
            variable = P1Store
            kill = yes
        [/store_unit]
    [/event]

    # Death of MC
    [event]
        name = last breath
        [filter]
            id = MC
        [/filter]
        [message]
            speaker = MC
            message = _ "Fight on! Kill... more of... them..."
        [/message]
        {FADE_TO_BLACK}
        [heal_unit]
            [filter]
                side = 1
            [/filter]
            moves = full
            restore_attacks = yes
        [/heal_unit]
        [store_unit]
            [filter]
                id = MC
            [/filter]
            mode = append
            variable = P1Store
            kill = yes
        [/store_unit]
        {VARIABLE WHODIED "MC"}
        {FADE_IN}
        [message]
            speaker = CD
            message = _ "Foolish humans, they believed they could harm us... How laughable!"
        [/message]
        [message]
            speaker = BB
            message = _ "What should we do with them sire, for they cannot be turned easily."
        [/message]
        [message]
            speaker = CD
            message = _ "Kill those who remain then stay here and work on dispelling their protections. Hold the rear guard while I head to Dorest."
        [/message]
        [endlevel]
            result = victory
            next_scenario = 08a_Light_In_The_Dark
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]

    # Death of CD
    [event]
        name = last breath
        [filter]
            id = CD
        [/filter]
        [message]
            speaker = CD
            message = _ "You are... but... mortals, this is... impossible!"
        [/message]
        [message]
            speaker = MC
            message = _ "Now to his lackey!"
        [/message]
        [message]
            speaker = BB
            message = _ "This cannot be happening, fall back to Farzi!"
        [/message]
        {VARIABLE WHODIED "CD"}
        [endlevel]
            result = victory
            next_scenario = 08b_Soothing_Sight
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]

    # Death of BB
    [event]
        name = last breath
        [filter]
            id = BB
        [/filter]
        [message]
            speaker = BB
            message = _ "How, you are but wretched humans!"
        [/message]
        [replace_schedule]
            {DEFAULT_SCHEDULE_24H}
            current_time = 0
        [/replace_schedule]
        [message]
            speaker = MC
            message = _ "Onwards, break them!"
        [/message]
        [message]
            speaker = CD
            message = _ "We have not the strength to take Dorest without the artifact, fall back!"
        [/message]
        {VARIABLE WHODIED "BB"}
        [endlevel]
            result = victory
            next_scenario = 08b_Soothing_Sight
            {NEW_GOLD_CARRYOVER 0}
        [/endlevel]
    [/event]

[/scenario]
