#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 08a_Light_In_The_Dark
    name= _ "Light in the Dark"
    next_scenario=09a_Dawn_over_Dorest
    map_data="{~add-ons/knights_of_the_silver_spire/maps/08_Light_In_The_Dark.map}"
    turns = 12
    
    # The time of day
    {MIDNIGHT_HOUR}

    {MUSIC_08a}
    
    # Setup
    [event]
        name=prestart
        {STANDARD_OBJECTIVES}
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Merfolk"

        {MP}
        x=19
        y=13

        {GOLD 160 120 90}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Vampires"
        controller = ai
    
        {BB}
        x=20
        y=4

        {GOLD 100 100 100}
        {INCOME 10 20 30}

        [ai]
            aggression = 1.0
            passive_leader = yes
        [/ai]
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "Though the knights had arrived first, they were not the only one that were heading at the Avalynne."
        [/part]
        [part]
            title = _ "Chapter Eight
<i>Light In The Dark</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_08}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start
        [message]
            speaker = MP
            message = _ "Monsters... I had surmised what you were when we passed Farzi but I still did not truly believe I would find bloodsuckers at the end of the knight's trail."
        [/message]
        [message]
            speaker = BB
            message = _ "Water scum... It seems your hopes were misplaced."
        [/message]
        [message]
            speaker = MP
            message = _ "I shall not let you desecrate their corpses and profane their souls! You will fall to the Light!"
        [/message]
        [message]
            speaker = BB
            message = _ "Fools, all of you..."
        [/message]
        [message]
            speaker = MP
            message = _ "Your fell spells occupy you. You will have no strength for battle and we shall destroy you!"
        [/message]
    [/event]

    # Battle end
    [event]
        name = last breath
        [filter]
            id = BB
        [/filter]
        [message]
            speaker = BB
            message = _ "Impossible, we are superior!"
        [/message]
    [/event]
    [event]
        name=victory
        [message]
            speaker = MP
            message = _ "The darkness has receded, now let us banish its remains."
        [/message]
        {FADE_TO_BLACK}
        [kill]
            side = 2
        [/kill]
        {FADE_IN}
        [message]
            speaker = MP
            message = _ "I beseech you, o great Light, grant your blessings upon these brave knights who sacrificed themselves against your foes, that they may yet have a chance to save their people."
        [/message]
        {THUNDER (
            [foreach]
                array = P1Store
                [do]
                    [unstore_unit]
                        variable = this_item
                        find_vacant = yes
                        x = 20
                        y = 4
                        check_passability = yes
                    [/unstore_unit]
                    [fire_event]
                        name = resurrection
                    [/fire_event]
                [/do]
            [/foreach]
            {CLEAR_VARIABLE P1Store} # wmllint: recognize MC
        )}
        [message]
            speaker = MC
            message = _ "Thank you for this hope, it shall not go to waste! (<i>To the other knights</i>) The <i>Crimson Duke</i> is probably heading for Dorest as we speak! We ride with all haste!"
        [/message]
        [message]
            speaker = MP
            message = _ "May you succeed in your quest!"
        [/message]
    [/event]

    [event]
        name = resurrection
        [message]
            speaker = $this_item.id
            message = _ "What miracle is this!"
        [/message]
    [/event]

    #Turns run out
    [event]
        name= time over
        [message]
            speaker = BB
            message = _ "That should be enough, they will now rise with us!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
    {CARRYOVER_EFFECT_40}

[/scenario]
