#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 08b_Soothing_Sight
    name= _ "Soothing Sight"
    next_scenario=09b_Alight_From_All_Sides
    map_data="{~add-ons/knights_of_the_silver_spire/maps/08_Light_In_The_Dark.map}"
    turns = 13

    # The time of day
    {DEFAULT_SCHEDULE}

    {MUSIC_08b}

    # Setup
    [event]
        name=prestart
        {STANDARD_OBJECTIVES}
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x = 24
        y = 4

        [leader]
            {MP}
            x=24
            y=16
        [/leader]

        {GOLD 120 90 75}
        {INCOME 3 2 1}
    [/side]

################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "After this hard-won battle, the knights regrouped to prepare to give chase to the vampire forces' remains.

However, before they could depart, other allies appeared."
        [/part]
        [part]
            story = _ "After all, though the knights had arrived first, they were not the only one that were heading upriver."
        [/part]
        [part]
            title = _ "Chapter Eight
<i>Soothing Light</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_08}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start

        [message]
            speaker = MP
            message = _ "Dear knights, I am overjoyed to see you again. When we passed Farzi and saw signs of battle, I feared the worst."
        [/message]
        [message]
            speaker = MC
            message = _ "I thank you for your concern, fair lady, though happily it was unwarranted, for though we lost many, we routed the enemy. However, I fear not enough of us are left for the next battle."
        [/message]
        [message]
            speaker = MP
            message = _ "Left alone, the vampires would still pose a grave threat to all within the North, and the Light shall not allow this to be so."
        [/message]
        [message]
            speaker = MP
            message = _ "I beseech you, o great Light, grant your blessings upon these brave knights who sacrificed themselves against your foes, that they may yet have a chance to save their people."
        [/message]
        {THUNDER (
            [foreach]
                array = P1Store
                [do]
                    [unstore_unit]
                        variable = this_item
                        find_vacant = yes
                        x = 20
                        y = 4
                    [/unstore_unit]
                [/do]
            [/foreach]
            {CLEAR_VARIABLE P1Store}
        )}
        [message]
            speaker = MC
            message = _ "Unbelievable! Thank you from the bottom of our hearts, o Lady of Light, for with this boon, we have a chance of ridding the land of these abominations."
        [/message]
        [message]
            speaker = MP
            message = _ "Let it be so. Pray tell, where are their remnants headed?"
        [/message]

        [if]
            [variable]
                name = WHODIED
                equals = "CD"
            [/variable]
            [then]
                [message]
                    speaker = MC
                    message = _ "The Bloody Baron headed northeast, towards Farzi."
                [/message]
                [message]
                    speaker = MP
                    message = _ "I had left some of my party there, if we hurry we may yet catch them before they reach their fortress!"
                [/message]
                [endlevel]
                    result = victory
                    next_scenario = 09b_Alight_From_All_Sides
                    bonus = no
                    carryover_percentage = 100
                    carryover_add = yes
                    carryover_report = no
                    linger_mode = no
                [/endlevel]
            [/then]
            [else]
                [message]
                    speaker = MC
                    message = _ "The Crimson Duke headed west, towards the Greenwood."
                [/message]
                [message]
                    speaker = MP
                    message = _ "Take care, for those who hide within are no friends to other races. Nor are they even to their own."
                [/message]
                [message]
                    speaker = MC
                    message = _ "I thank you for your warning, I shall take it to heart. Farewell!"
                [/message]
                [endlevel]
                    result = victory
                    next_scenario = 09c_Death_Amongst_The_Trees
                    bonus = no
                    carryover_percentage = 100
                    carryover_add = yes
                    carryover_report = no
                    linger_mode = no
                [/endlevel]
            [/else]
        [/if]
    [/event]
[/scenario]
