#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 09a_Dawn_over_Dorest
    name= _ "Dawn over Dorest"
    next_scenario=10_Epilogue
    map_data="{~add-ons/knights_of_the_silver_spire/maps/09a_Dawn_over_Dorest.map}"
    turns = -1
    
    # The time of day
    {DEFAULT_SCHEDULE_24H}

    {MUSIC_09a}
    
    # Setup
    [event]
        name=prestart
        [objectives]
            {KILL_OBJECTIVE}
            {DEATH_LOSS}
            {CARRYOVER_INFO_NONE}
            {IS_LAST_SCENARIO}
        [/objectives]
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=32
        y=1

        {GOLD 200 160 140}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Vampires"
        controller = ai
    
        {CD}
        x=19
        y=9

        {GOLD 500 500 500}
        {INCOME 10 15 30}
        [ai]
            [goal]
                name = target_location
                [criteria]
                    x = 6
                    y = 16
                [/criteria]
                value = 4 # Priority to get him moving there
            [/goal]
        [/ai]
    [/side]

    [side]
        side=3
        team_name = 1
        user_team_name = _ "Wesnoth"
        controller = ai
    
        id = HG
        type = General
        recruit = Spearman, Heavy Infantryman, Bowman, Fencer
        x=13
        y=16

        {GOLD 300 300 300}
        {INCOME 10 15 30}

        [ai]
            passive_leader = yes
        [/ai]
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "The knights sped with all haste towards Dorest, that they might stop the Crimson Duke's evil designs from taking form."
        [/part]
        [part]
            story = _ "This was a pressing task for the battle was already fierce in front of the city's walls."
        [/part]
        [part]
            title = _ "Chapter Nine
<i>Dawn over Dorest</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_09a}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Human general loss
    [event]
        name = last breath
        [filter]
            id = HG
        [/filter]
        [message]
            speaker = HG
            message = _ "Nooo... The city..."
        [/message]
        [message]
            speaker = CD
            message = _ "Finally, this futile resistance is over."
        [/message]
        [message]
            speaker = MC
            message = _ "The city is lost and without it, the North is cut off from Wesnoth, we have failed!"
        [/message]
        [endlevel]
            result = defeat
        [/endlevel]
    [/event]

    # Battle intro
    [event]
        name=start

        [label]
            x = 6
            y = 16
            text = _ "Silver Spire"
            side = 0
        [/label]

        [message]
            speaker = HG
            message = _ "Who are you, accursed monster, and why do you trouble our fair city? ...Wait ...Duke Myrraent, is that you?"
        [/message]
        [message]
            speaker = CD
            message = _ "I have thrown away that fake mask. I am the Crimson Duke and you shall all fall at my feet! Now, despair!"
        [/message]
        [message]
            speaker = HG
            message = _ "You stand against the kingdom of Wesnoth and have no hope of victory on this day!"
        [/message]
        [message]
            speaker = CD
            message = _ "I do not recognize the authority of your pitiful king! You shall all bow down to me!"
        [/message]
        [message]
            speaker = MC
            message = _ "Your dark crusade ends here, Crimson Duke!"
        [/message]
        [message]
            speaker = CD
            message = _ "The Knights of the Silver Spire... Did I not slay you all?"
        [/message]
        [message]
            speaker = MC
            message = _ "The Light does not falter. Your servant is dead and so shall you soon be!"
        [/message]
        [message]
            speaker = CD
            message = _ "Go ahead and try, little whelps. The night will soon return and, when it does, you will all die..."
        [/message]
    [/event]

    # Battle end
    [event]
        name = last breath
        [filter]
            id = CD
        [/filter]
        [message]
            speaker = CD
            message = _ "Impossible, deafeated by these wretches!"
        [/message]
        [message]
            speaker = MC
            message = _ "Face the wrath of the Light!"
        [/message]
        {THUNDER (
            [kill]
                side = 2
            [/kill]
        )}
    [/event]
    [event]
        name=victory
        [message]
            speaker = MC
            message = _ "He shall haunt this land no longer."
        [/message]
        [message]
            speaker = HG
            message = _ "You have our utmost gratitude, oh Knights of the Silver Spire, for you have saved the Northlands and, perhaps, the realm itself from a dark fate."
        [/message]
    [/event]


    #ifhave ~add-ons/War_of_Legends/_main.cfg
    # Knights are back
    [event]
        name = last breath
        [filter]
            side = 2
        [/filter]
        [filter_second]
            side = 1
        [/filter_second]
        [message]
            speaker = unit
            message = _ "How, we slew you!"
        [/message]
        [message]
            speaker = second_unit
            message = _ "Begone, foul corpse!"
        [/message]
    [/event]
    #endif

    #Turns run out (unused for now)
    [event]
        name= time over
        [message]
            speaker = CD
            message = _ "With the night on my side I am unstoppable! You have no chance!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    
    {CARRYOVER_EFFECT_DIALOGUE}

[/scenario]