#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 09b_Alight_From_All_Sides
    name= _ "Alight From All Sides"
    next_scenario=10_Epilogue
    map_data="{~add-ons/knights_of_the_silver_spire/maps/09b_Alight_From_All_Sides.map}"
    turns = -1

    # The time of day
    {MIDNIGHT_HOUR}

    {MUSIC_09b}

    # Setup
    [event]
        name=prestart
        [objectives]
            {KILL_OBJECTIVE}
            {DEATH_LOSS}
            {IS_LAST_SCENARIO}
            {CARRYOVER_INFO_NONE}
        [/objectives]
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=4
        y=2

        [leader]
            {MP}
            x = 18
            y = 20
        [/leader]

        {GENERIC_UNIT 1 (Merman Fighter) 32 19}
        {GENERIC_UNIT 1 (Mermaid Initiate) 30 20}

        {GOLD 200 150 120}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Vampires"
        controller = ai

        {BB}
        x=19
        y=10

        {GOLD 200 200 200}
        {INCOME 10 20 30}

        #ifhave ~add-ons/War_of_Legends/_main.cfg
        {GENERIC_UNIT 2 Fledgeling 31 19}
        {GENERIC_UNIT 2 (Thin Blood) 30 19}
        #endif
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "The vampires had suffered a devastating blow with the loss of their leader and were now on the run, fleeing towards their lair at Farzi.

They hoped to weather the storm headed their way within the walls of the fortified isle."
        [/part]
        [part]
            story = _ "They, however, had not expected merfolk to hold them back and keep them from reaching their haven until the knights arrived to finish them off."
        [/part]
        [part]
            title = _ "Chapter Nine
<i>Alight From All Sides</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_09b}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start
        [message]
            speaker = BB
            message = _ "Hurry and kill this vermin! We need to reach the island!"
        [/message]
        [message]
            speaker = MP
            message = _ "You will not reach safety, vampire. All that awaits you is a final death."
        [/message]
        [message]
            speaker = BB
            message = _ "Foolish mermaid, you face beings far older than you. You are not feared here."
        [/message]
        [message]
            speaker = MC
            message = _ "Fear is irrelevant, today you will be eradicated. We, the knights of the Silver Spire, swear so!"
        [/message]
        [message]
            speaker = BB
            message = _ "Human scum! Kill them all!"
        [/message]
    [/event]

    # Battle end
    [event]
        name = last breath
        [filter]
            id = BB
        [/filter]
        [message]
            speaker = BB
            message = _ "No... Impossible... Not against wretches like you..."
        [/message]
        [replace_schedule]
            {DEFAULT_SCHEDULE_24H}
            current_time = 0
        [/replace_schedule]
    [/event]
    [event]
        name=victory
        [message]
            speaker = MC
            message = _ "He is dead, we need only finish off the last remains of his despicable ilk. The world will be better off without them. I must thank you for your inestimable assistance against them."
        [/message]
        [message]
            speaker = MP
            message = _ "No thanks are necessary, for though he threatened humans now, we would soon have been at risk."
        [/message]
        [message]
            speaker = MC
            message = _ "Well then, I shall have to report this to the lords in Dorest. May we meet again!"
        [/message]
        [message]
            speaker = MP
            message = _ "The same to you!"
        [/message]
    [/event]

    {CARRYOVER_EFFECT_DIALOGUE}

[/scenario]
