#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 09c_Death_Amongst_The_Trees
    name= _ "Death Amongst The Trees"
    next_scenario=10_Epilogue
    map_data="{~add-ons/knights_of_the_silver_spire/maps/09c_Death_Amongst_The_Trees.map}"
    turns = -1

    # The time of day
    {DEFAULT_SCHEDULE}

    {MUSIC_09c}

    # Setup
    [event]
        name=prestart
        [objectives]
            {DEATH_LOSS}
            [objective]
                condition = win
                description = _ "Death of the Crimson Duke"
            [/objective]
            {IS_LAST_SCENARIO}
            {CARRYOVER_INFO_NONE}
        [/objectives]
    [/event]


################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}
        x=42
        y=17

        {GOLD 120 90 75}
        {INCOME 3 2 1}
    [/side]

    [side]
        side=2
        team_name = 2
        user_team_name = _ "Vampires"
        controller = ai

        {CD}
        x=22
        y=9

        {GOLD 400 400 400}
        {INCOME 30 50 70}
    [/side]

    [side]
        side=3
        team_name = 3
        user_team_name = _ "Elves"
        controller = ai

        id = EL
        type = Elvish High Lord
        recruit = Elvish Fighter, Elvish Archer, Elvish Hero, Elvish Captain, Elvish Lord, Elvish Scout, Elvish Rider
        x=1
        y=21

        {GOLD 200 200 200}
        {INCOME 10 15 30}
    [/side]

    [side]
        side=4
        team_name = 3
        user_team_name = _ "Elves"
        controller = ai

        id = ES
        type = Elvish Sylph
        recruit = Elvish Shaman, Elvish Druid, Elvish Sorceress, Wose, Elder Wose
        x=8
        y=2

        {GOLD 200 200 200}
        {INCOME 10 15 30}
    [/side]


################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]
        [part]
            story = _ "With the death of their Bloody Baron and the destruction of the dark artifact that had been casting a shadow over the battlefield, the nightborn's plans were shattered and they had no choice but to retreat."
        [/part]
        [part]
            story = _ "They fled west, towards the Greenwood, without thinking of the cruel beings who dwelled there."
        [/part]
        [part]
            title = _ "Chapter Nine
<i>Death Amongst The Trees</i>"
        [/part]
    [/story]

    # Bigmap
    {BIGMAP_DRAW {BIGMAP_09c}}

################################################################################
#                       Dialogue, victory, defeat events                       #
################################################################################

    {DEATH_EVENTS}

    # Battle intro
    [event]
        name=start
        [message]
            speaker = EL
            message = _ "Fell being, pray tell, what do you seek in these woods but death?"
        [/message]
        [message]
            speaker = CD
            message = _ "Nothing from you, foolish elf."
        [/message]
        [message]
            speaker = ES
            message = _ "You have stepped within our forest, abomination that was once a man, and for that you shall die."
        [/message]
        [message]
            speaker = MC
            message = _ "Already making new enemies... dear Crimson Duke, perhaps that will be your end."
        [/message]
        [message]
            speaker = EL
            message = _ "Humans here! More fools to kill I see..."
        [/message]
        [message]
            speaker = ES
            message = _ "Let us first handle the monsters, then we shall focus on the beasts."
        [/message]
    [/event]

    # Battle end
    [event]
        name = last breath
        [filter]
            id = CD
        [/filter]
        [message]
            speaker = CD
            message = _ "No! We were destined for more than this!"
        [/message]
        [fire_event]
            name = victory
        [/fire_event]
    [/event]
    [event]
        name=victory
        [message]
            speaker = MC
            message = _ "I thank you for the slaying of this monster."
        [/message]
        [message]
            speaker = ES
            message = _ "Do not dare speak to me, animal! We rejected your kind and for that were banished! Now you intrude upon our domain and for that you shall pay!"
        [/message]
        [message]
            speaker = MC
            message = _ "I am sorry for this state of affair but I have no desire for battle when it is unneeded. (<i>To the knights</i>) Fall back, we retreat!"
        [/message]
    [/event]

    {CARRYOVER_EFFECT_DIALOGUE}
[/scenario]
