#textdomain wesnoth-knights_of_the_silver_spire

[scenario]
    id= 10_Epilogue
    name= _ "Epilogue"
    next_scenario=null
    turns = 13
    {NO_MAP_DATA}

    {MUSIC_10}

    # Setup
    [event]
        name=prestart
        [endlevel]
            result = victory
            bonus = no
            carryover_percentage = 100
            carryover_add = yes
            carryover_report = no
            linger_mode = no
        [/endlevel]
    [/event]

################################################################################
#                               Sides definition                               #
################################################################################

    # The player side
    [side]
        side=1
        save_id = player
        controller=human
        team_name=1
        user_team_name= _ "Knights of the Silver Spire"

        {MC}

        {GOLD 120 90 75}
        {INCOME 3 2 1}
    [/side]

################################################################################
#                  Story Stuff (full window stuff and bigmap)                  #
################################################################################

    # Story intro
    [story]

        # Variation depending on who died (scenario 7 result)
        [if]
            [variable]
                name = WHODIED
                equals = "BB"
            [/variable]
            [then]
                [part]
                    story = _ "In the Greenwood, between the shadow of the trees, the three-way battle had now ended with the death of the vampires, their Crimson Duke fallen as if pierced by the very light he had tried to scatter away, all that remained of him a corpse upon the ground, food for worms and no trouble for anyone anymore.

Now the elves faced other foes, for though it had been almost two hundred years since the civil war and their banishment with few left alive from that time, their hatred of mankind still ran deep.

However, today was not to be a day of reckoning, for the human intruders withdrew as fast as possible, seeing no reason to fight a battle they did not want.

On that day, the Knights of the Silver Spire avoided a battle against fellow living beings and, perhaps even planted a seed of doubt within those frozen elven hearts, that perhaps their hatred was unwarranted and that there could be a better way."
                [/part]
            [/then]
            [elseif]
                [variable]
                    name = WHODIED
                    equals = "CD"
                [/variable]
                [then]
                [part]
                    story = _ "In the darkness a ray of pure light surged forth, piercing through the vampire's heart and breaking his fell artifact.

As the fell being crumpled, impaled upon a silvery lance, a single ray of sunlight shone upon him as his foul spell broke before the dawn erupted in all its blazing glory, reclaiming its place in the order of things.

And so disappeared the last leader of the vampires much like his liege did the night before, as if to confirm their dark dream's final death and the return of peace to the realm."
                [/part]
                [/then]
            [/elseif]
            [elseif]
                [variable]
                    name = WHODIED
                    equals = "MC"
                [/variable]
                [then]
                    [part]
                        story = _ "Before the walls of Dorest a great clash had ended. The duel between the knight and the vampire was over with the would-be conqueror struck down by righteous fury, his hordes run down and exterminated.

His death brought relief to every soul, for the North was now freed from a grave threat.

The victorious defenders were celebrated for their courage and the Knights of the Silver Spire above all, for all had seen their valor upon the field of battle."
                    [/part]
                [/then]
            [/elseif]
        [/if]

        [part]
            story = _ "Vaedyr and his knights reported the events that had transpired to the lords in Dorest, the treachery of Duke Myrraent and his true identity as the Crimson Duke, vampire and would-be subjugator of the North.

They were justly recompensed for their actions and led a life of virtue afterwards, continuing to act much as they had before, protecting whomever they could."
        [/part]
        [part]
            story = _ "Lady Ariel and the merfolk enjoyed years of peace after the incident, untroubled by other threats from the surface and enjoying the benefits of their newfound renown in the form of lucrative trade with the humans.

Vaedyr and his men oft visited their shores, reminiscing of battles past and assisting whenever the merfolk's diviners foresaw danger."
        [/part]
        [part]
            story = _ "Through the bravery of the knights of the Silver Spire, the North, and perhaps all of the continent, were saved from the depredations of the vampire menace.

Though this did not save the land from future turmoil, their deeds were fondly remembered and soon passed into legend and, like all such tales, were embellished over time."
        [/part]

        # Variation depending on who died (scenario 7 result)
        [if]
            [variable]
                name = WHODIED
                equals = "BB"
            [/variable]
            [then]
                [part]
                    story = _ "Soon, the songs in taverns and stories around the fireplace had forgotten the part the banished elves had played and this became only a tale of the travails of the knights of the Silver Spire, of their desperate stand on the shore of the Avalynne against the Crimson Duke.

It told of how, after they had apparently been slain to a man, a maiden of light arose from the water and cried for their fate, bringing about a true miracle.

For before her now stood the entire order, alive and armed, raring to fight once more."
                [/part]
            [/then]
            [elseif]
                [variable]
                    name = WHODIED
                    equals = "CD"
                [/variable]
                [then]
                    [part]
                        story = _ "Soon, the songs in taverns and stories around the fireplace had forgotten the Bloody Baron's flight and was only a tale of the travails of the knights of the Silver Spire, of their desperate stand on the shore of the Avalynne against the Crimson Duke.

It told of how, after they had apparently been slain to a man, a maiden of light arose from the water and cried for their fate, bringing about a true miracle.

For before her now stood the entire order, alive and armed, raring to fight once more."
                    [/part]
                [/then]
            [/elseif]
            [elseif]
                [variable]
                    name = WHODIED
                    equals = "MC"
                [/variable]
                [then]
                    [part]
                        story = _ "Soon, the songs in taverns and stories around the fireplace had forgotten the battles of the merfolk and was only a tale of the travails of the knights of the Silver Spire, of their desperate stand on the shore of the Avalynne against the Crimson Duke.

It told of how, after they had been slain to a man, a maiden of light arose from the water and cried for their fate, bringing about a true miracle.

For before her now stood the entire order, alive and armed, raring to fight once more."
                    [/part]
                [/then]
            [/elseif]
        [/if]

        [part]
            story = _ "This tale was known all through Wesnoth and oft told when the bandits of Asheviere were pillaging the countryside or when the hordes of Mal-Ravanal were slaughtering all they could find.

All who listened knew that this band of knights was long gone and could not ride against the dark this time."
        [/part]
        [part]
            story = _ "It still gave hope, however, that someone would.

That some plucky band of heroes, whether it be a lost prince and his mentor or some guards from the frontier would fight back and end this new threat, bringing back peace to the realm.

And that hope, that dream that all would be well in the end, well... that was already a wonderful legacy."
        [/part]
    [/story]

[/scenario]