#textdomain wesnoth-knights_of_the_silver_spire

# Author of code files is hopelight unless otherwise specified
# If I forgot to note where a file comes from
# do let me know because it should be rectified


# Wmllint info
# wmllint: who MC is MC
# wmllint: who MP is MP
# wmllint: who CDH is CDH
# wmllint: who CD is CD
# wmllint: who BBM is BBM
# wmllint: who BBH is BBH
# wmllint: who BB is BB


[textdomain]
    name="wesnoth-knights_of_the_silver_spire"
    path="data/add-ons/knights_of_the_silver_spire/translations"
[/textdomain]

[campaign]
    id=knights_of_the_silver_spire
    name= _ "Knights of the Silver Spire"
    abbrev= _ "KotSS"
    define=CAMPAIGN_knights_of_the_silver_spire
    type = sp

    icon="misc/blank-hex.png~BLIT(units/human-loyalists/paladin/paladin.png~RC(magenta>red), 4, -10)~BLIT(units/merfolk/diviner.png~RC(magenta>gold), -1, 9)~BLIT(units/human-loyalists/grand-knight/grand-knight.png~RC(magenta>blue), -19, 13)~MASK(misc/new-journey.png~SCALE(72, 72), 0, 0)"
    first_scenario = 01_Another_Patrol
    description= _ "The story of the Knights of the Silver Spire and their battles against the evil Crimson Duke to keep the Northlands safe.

(Intermediate level, 9 scenarios, 3 endings)."

    {CAMPAIGN_DIFFICULTY EASY "units/human-loyalists/horseman/horseman.png~RC(magenta>red)" (_ "Horseman") (_ "Easy")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/human-loyalists/knight/knight.png~RC(magenta>red)" (_ "Knight") (_ "Normal")}{DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD "units/human-loyalists/paladin/paladin.png~RC(magenta>red)" (_ "Paladin") (_ "Hard")}

    [modify_unit_type]
        type = Mounted General
        set_advances_to = Grandmaster
    [/modify_unit_type]

    # Make knights unplaguable
    [event]
        name = recruit
        [filter]
            race = human
            side = 1
        [/filter]
        [modify_unit]
            [filter]
                id = $unit.id
            [/filter]
            [effect]
                apply_to=status
                add=unplagueable
            [/effect]
        [/modify_unit]
    [/event]


    # Credits
    [about]
        title = _ "Campaign design and programming"
        [entry]
            name = _ "hopelight"
        [/entry]
    [/about]
    [about]
        title = _ "Original vampire faction (Era of Myths)"
        [entry]
            name = _ "Jester" #, Melon, Eternal, EVILEST, Eleazar" ... in case it doesn't display like I want
        [/entry]
        [entry]
            name = _ "Melon"
        [/entry]
        [entry]
            name = _ "Eternal"
        [/entry]
        [entry]
            name = _ "EVILEST"
        [/entry]
        [entry]
            name = _ "Eleazar"
        [/entry]
    [/about]
    [about]
        title = _ "War of Legends (Vampire code and associated images)"
        [entry]
            name = _ "Tahsin Jahin Khalid (Lord-Knightmare)"
        [/entry]
    [/about]
    [about]
        title = _ "Horse Lord unit line"
        [entry]
            name = _ "Battle for Wesnoth team"
        [/entry]
    [/about]
    [about]
        title = _ "Mounted General unit line"
        [entry]
            name = _ "Battle for Wesnoth team"
        [/entry]
    [/about]
    [about]
        title = _ "Japanese Translation"
        [entry]
            name = _ "chee/k.k konami,k"
        [/entry]
    [/about]
    [about]
        title = _ "Special Thanks"
        [entry]
            name = _ "The Battle for Wesnoth project's contributors over the years."
        [/entry]
        [entry]
            name = _ "... Otherwise nobody would be here ..."
        [/entry]
    [/about]
    [about]
        title = _ "Special Thanks"
        [entry]
            name = _ "Whoever wrote the description of the Mermaid Diviner"
        [/entry]
        [entry]
            name = _ "Where do you all think I got the inspiration for this?"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_knights_of_the_silver_spire

# For the optional vampire stuff
#ifhave ~add-ons/War_of_Legends/_main.cfg
{~add-ons/War_of_Legends/_main.cfg}
{LEGEND_CAMPAIGN}
#endif

[binary_path]
    path=data/add-ons/knights_of_the_silver_spire
[/binary_path]

{~add-ons/knights_of_the_silver_spire/utils}
{~add-ons/knights_of_the_silver_spire/images}
{~add-ons/knights_of_the_silver_spire/images}
{~add-ons/knights_of_the_silver_spire/maps}
{~add-ons/knights_of_the_silver_spire/scenarios}

[+units]
    {~add-ons/knights_of_the_silver_spire/units}
[/units]

#endif