#textdomain wesnoth-knights_of_the_silver_spire

[achievement_group]
    display_name = _ "Knights of the Silver Spire"
    content_for = knights_of_the_silver_spire

    [achievement]
        id = Story_1
        name = _ "Guardians of Peace"
        description = _ "Defend the countryside from bandits."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Story_2
        name = _ "The Dark Revealed"
        description = _ "Find out the mysterious figure's identity."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Story_3
        name = _ "Do not go Gentle into that Dark Night"
        description = _ "Rage, Rage Against the Dying of the Light."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Story_4a
        name = _ "At Dawn, Look to the East"
        description = _ "Save Dorest from the Crimson Duke's siege."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Story_4b
        name = _ "Forward Unto Dawn"
        description = _ "Slay the Bloody Baron and restore the light to the North."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Story_4c
        name = _ "Merciless End"
        description = _ "Defeat the Crimson Duke with the help of other beings as merciless as he."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Special_6
        name = _ "Avenging Wrath"
        description = _ "Defeat the Bloody Baron within his stronghold."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Special_7
        name = _ "Our Finest Hour"
        description = _ "In the darkest hour, vanquish the evil that threatens this world."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = Special_9
        name = _ "A Sword Day, a Red Day, ere the Sun Rises"
        description = _ "Slay the Crimson Duke before the sun sets once more."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

    [achievement]
        id = All_Endings
        name = _ "Legends of the North"
        description = _ "See all endings."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
        [sub_achievement]
            id = Ending_A
            description = _ "Save Dorest"
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
        [/sub_achievement]
        [sub_achievement]
            id = Ending_B
            description = _ "End the Night's Reign"
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
        [/sub_achievement]
        [sub_achievement]
            id = Ending_C
            description = _ "Kill the Crimson Duke"
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
        [/sub_achievement]
    [/achievement]

    [achievement]
        id = Hard_Victory
        name = _ "A Glory to Last a Thousand Years"
        description = _ "Complete the campaign on the hardest difficulty."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
        max_progress = 9
    [/achievement]

    [achievement]
        id = Lore_Keeper
        name = _ "Inspiration's Spark Burns Bright"
        description = _ "Find out what inspired this tale."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)"
    [/achievement]

[/achievement_group]