#textdomain wesnoth-knights_of_the_silver_spire

[achievement_group]
    display_name = _ "Knights of the Silver Spire"
    content_for = knights_of_the_silver_spire

    [achievement]
        id = Story_1
        name = _ "Guardians of Peace"
        description = _ "Defend the countryside from bandits."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-outlaws/bandit.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Story_2
        name = _ "The Dark Revealed"
        description = _ "Find out the mysterious figure's identity."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-outlaws/assassin.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Story_3
        name = _ "Do not go Gentle into that Dark Night"
        description = _ "Rage, Rage Against the Dying of the Light."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/knights_of_the_silver_spire/images/units/deoran/mounted-general.png~RC(magenta>red), 0, 5)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Story_4a
        name = _ "At Dawn, Look to the East"
        description = _ "Save Dorest from the Crimson Duke's siege."
        #ifhave ~add-ons/War_of_Legends/_main.cfg
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/War_of_Legends/images/units/vampires/methusalem.png~RC(magenta>black), 3, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
        #else
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-loyalists/general.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
        #endif
    [/achievement]

    [achievement]
        id = Story_4b
        name = _ "Forward Unto Dawn"
        description = _ "Slay the Bloody Baron and restore the light to the North."
        #ifhave ~add-ons/War_of_Legends/_main.cfg
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/War_of_Legends/images/units/vampires/sword-dancer.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
        #else
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-loyalists/master-at-arms.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
        #endif
    [/achievement]

    [achievement]
        id = Story_4c
        name = _ "Merciless End"
        description = _ "Defeat the Crimson Duke with the help of other beings as merciless as he."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/elves-wood/sylph.png~RC(magenta>green), -5, 3)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
    [/achievement]

    [achievement]
        id = Special_6
        name = _ "Avenging Wrath"
        description = _ "Defeat the Bloody Baron within his stronghold."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-loyalists/cavalier/cavalier.png~RC(magenta>red), 0, 4)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement]
        id = Special_7
        name = _ "Our Finest Hour"
        description = _ "In the darkest hour, vanquish the evil that threatens this world."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/knights_of_the_silver_spire/images/units/deoran/grandmaster.png~RC(magenta>red), -3, 5)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement]
        id = Special_9
        name = _ "A Sword Day, a Red Day, ere the Sun Rises"
        description = _ "Slay the Crimson Duke before the sun sets once more."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/knights_of_the_silver_spire/images/units/owaec-lord.png~RC(magenta>red), 1, 4)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
    [/achievement]

    [achievement]
        id = All_Endings
        name = _ "Legends of the North"
        description = _ "See all endings."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-loyalists/cavalier/cavalier.png~RC(magenta>red), 22, 9)~BLIT(data/core/images/units/human-loyalists/paladin/paladin.png~RC(magenta>red), -1, 4)~BLIT(data/core/images/units/human-loyalists/grand-knight/grand-knight.png~RC(magenta>red), -20, 10)~BLIT(/data/add-ons/knights_of_the_silver_spire/images/units/owaec-lord.png~RC(magenta>red), -23, 36)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
        [sub_achievement]
            id = Ending_A
            description = _ "Save Dorest"
            #ifhave ~add-ons/War_of_Legends/_main.cfg
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/War_of_Legends/images/units/vampires/methusalem.png~RC(magenta>black), 3, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
            #else
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-loyalists/general.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
            #endif
        [/sub_achievement]
        [sub_achievement]
            id = Ending_B
            description = _ "End the Night's Reign"
            #ifhave ~add-ons/War_of_Legends/_main.cfg
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/add-ons/War_of_Legends/images/units/vampires/sword-dancer.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
            #else
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/human-loyalists/master-at-arms.png~RC(magenta>black), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
            #endif
        [/sub_achievement]
        [sub_achievement]
            id = Ending_C
            description = _ "Kill the Crimson Duke"
            icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/elves-wood/sylph.png~RC(magenta>green), -5, 3)~BLIT(data/core/images/misc/achievement-frames/frame-9-jade.png)"
        [/sub_achievement]
    [/achievement]

    [achievement]
        id = Hard_Victory
        name = _ "A Glory to Last a Thousand Years"
        description = _ "Complete the campaign on the hardest difficulty."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/merfolk/diviner.png~RC(magenta>blue), 3, -1)~BLIT(/data/add-ons/knights_of_the_silver_spire/images/units/deoran/grandmaster.png~RC(magenta>red), -21, 8)~BLIT(data/core/images/misc/achievement-frames/frame-6-sky.png)"
        max_progress = 9
    [/achievement]

    [achievement]
        id = Lore_Keeper
        name = _ "Inspiration's Spark Burns Bright"
        description = _ "Find out what inspired this tale."
        icon = "/data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(/data/core/images/units/merfolk/diviner.png~RC(magenta>blue), 4, 1)~BLIT(data/core/images/misc/achievement-frames/frame-6-royal.png)"
    [/achievement]

[/achievement_group]