#textdomain wesnoth-knights_of_the_silver_spire

# This code is licensed under the GPL version 2 or later and comes from Battle for Wesnoth version 1.16's campaign "Eastern Invasion"

#define WEAPON_SPECIAL_SHOCK
    # Canned definition of the Shock ability to be included in a
    # [specials] clause.
    [attacks]
        id=shock
        name= _ "shock"
        description= _ "When this attack is used on offense, the opponent will retaliate with one less strike than normally, to a minimum of one strike."
        special_note=_"This unit’s melee attack can overwhelm the defenses of enemies, preventing them from retaliating as effectively."
        sub=1
        active_on=offense
        apply_to=opponent
        [filter_base_value]
            greater_than=1
        [/filter_base_value]
    [/attacks]
#enddef
