#textdomain wesnoth-knights_of_the_silver_spire

# A derivative of basically every campaign in Battle for Wesnoth
# Specifically the utils/bigmap.cfg file

#define BIGMAP_BASE
    [background_layer]
        image=maps/background.webp
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
    [/background_layer]
    [background_layer]
        image=maps/sotbe.png
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

#define BIGMAP_DRAW STAGE
    [story]
        [part]
            show_title=yes
            {BIGMAP_BASE}
            {STAGE}
        [/part]
    [/story]
#enddef

# The bigmaps

# TYPE will be replaced by NEW when no argument is given (say when it's called
# in a scenario) but OLD when called anywhere where the argument TYPE=OLD is added
# (say, in BIGMAP_02)
# To be clear, be careful: no newline or space, they'd be included in the
# 'default' argument (which is why it's so squished)
#define BIGMAP_01
#arg TYPE
NEW#endarg
    {{TYPE}_JOURNEY 789 738}
    {{TYPE}_JOURNEY 783 708}
    {{TYPE}_JOURNEY 776 678}
    {{TYPE}_JOURNEY 776 648}
    {{TYPE}_JOURNEY 782 620}
    {{TYPE}_JOURNEY 792 598}
    {{TYPE}_BATTLE 805 575}
#enddef

#define BIGMAP_02
#arg TYPE
NEW#endarg
    {BIGMAP_01 TYPE=OLD}
    {{TYPE}_JOURNEY 793 548}
    {{TYPE}_JOURNEY 779 522}
    {{TYPE}_BATTLE 769 492}
#enddef

#define BIGMAP_03
#arg TYPE
NEW#endarg
    {BIGMAP_02 TYPE=OLD}
    {{TYPE}_JOURNEY 780 474}
    {{TYPE}_JOURNEY 803 456}
    {{TYPE}_BATTLE 803 427}
#enddef

#define BIGMAP_04
#arg TYPE
NEW#endarg
    {BIGMAP_03 TYPE=OLD}
    {{TYPE}_JOURNEY 821 405}
    {{TYPE}_JOURNEY 849 394}
    {{TYPE}_JOURNEY 875 380}
    {{TYPE}_JOURNEY 868 355}
    {{TYPE}_JOURNEY 872 329}
    {{TYPE}_JOURNEY 881 309}
    {{TYPE}_JOURNEY 886 283}
    {{TYPE}_JOURNEY 912 281}
    {{TYPE}_BATTLE 933 264}
#enddef

#define BIGMAP_05
#arg TYPE
NEW#endarg
    {BIGMAP_04 TYPE=OLD}
    {{TYPE}_REST 933 264}
#enddef

#define BIGMAP_06
#arg TYPE
NEW#endarg
    {BIGMAP_04 TYPE=OLD}
    {{TYPE}_JOURNEY 941 293}
    {{TYPE}_JOURNEY 950 323}
    {{TYPE}_JOURNEY 958 352}
    {{TYPE}_JOURNEY 966 381}
    {{TYPE}_JOURNEY 975 410}
    {{TYPE}_JOURNEY 983 440}
    {{TYPE}_JOURNEY 992 469}
    {{TYPE}_JOURNEY 1000 498}
    {{TYPE}_JOURNEY 1008 527}
    {{TYPE}_JOURNEY 1017 557}
    {{TYPE}_BATTLE 1025 586}
#enddef

#define BIGMAP_07
#arg TYPE
NEW#endarg
    {BIGMAP_06 TYPE=OLD}
    {{TYPE}_JOURNEY 997 580}
    {{TYPE}_JOURNEY 980 592}
    {{TYPE}_JOURNEY 990 616}
    {{TYPE}_JOURNEY 999 641}
    {{TYPE}_BATTLE 974 651}
#enddef

#define BIGMAP_08
#arg TYPE
NEW#endarg
    {BIGMAP_07 TYPE=OLD}
    {{TYPE}_JOURNEY 950 286}
    {{TYPE}_JOURNEY 975 302}
    {{TYPE}_JOURNEY 998 317}
    {{TYPE}_JOURNEY 1019 338}
    {{TYPE}_JOURNEY 1047 347}
    {{TYPE}_JOURNEY 1069 364}
    {{TYPE}_JOURNEY 1094 378}
    {{TYPE}_JOURNEY 1112 397}
    {{TYPE}_JOURNEY 1122 422}
    {{TYPE}_JOURNEY 1126 450}
    {{TYPE}_JOURNEY 1113 476}
    {{TYPE}_JOURNEY 1108 504}
    {{TYPE}_JOURNEY 1111 530}
    {{TYPE}_JOURNEY 1121 555}
    {{TYPE}_JOURNEY 1132 574}
    {{TYPE}_JOURNEY 1117 594}
    {{TYPE}_JOURNEY 1129 619}
    {{TYPE}_JOURNEY 1112 636}
    {{TYPE}_JOURNEY 1089 641}
    {{TYPE}_JOURNEY 1065 633}
    {{TYPE}_JOURNEY 1049 614}
    {{TYPE}_JOURNEY 1028 594}
    {{TYPE}_JOURNEY 1001 585}
    {{TYPE}_JOURNEY 987 605}
    {{TYPE}_JOURNEY 1005 625}
    {{TYPE}_JOURNEY 1002 648}
    {{TYPE}_BATTLE 974 651}
#enddef

#define BIGMAP_09a
#arg TYPE
NEW#endarg
    {BIGMAP_07 TYPE=OLD}
    {{TYPE}_JOURNEY 946 654}
    {{TYPE}_JOURNEY 926 674}
    {{TYPE}_JOURNEY 911 698}
    {{TYPE}_JOURNEY 896 723}
    {{TYPE}_JOURNEY 867 730}
    {{TYPE}_JOURNEY 839 732}
    {{TYPE}_JOURNEY 813 733}
    {{TYPE}_BATTLE 789 738}
#enddef

#define BIGMAP_09b
#arg TYPE
NEW#endarg
    {BIGMAP_08 TYPE=OLD}
    {{TYPE}_JOURNEY 999 641}
    {{TYPE}_JOURNEY 990 616}
    {{TYPE}_JOURNEY 980 592}
    {{TYPE}_BATTLE 1006 580}
#enddef

#define BIGMAP_09c
#arg TYPE
NEW#endarg
    {BIGMAP_07 TYPE=OLD}
    {{TYPE}_JOURNEY 949 639}
    {{TYPE}_BATTLE 923 627}
#enddef
