#textdomain wesnoth-knights_of_the_silver_spire

# Good guys

#define MC
    id = MC
    unrenamable = yes
    name = _ "Vaedyr"
    type = Junior Commander
    profile = "portraits/humans/grand-knight-2.webp"
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_FEARLESS}
        [object]
            id = NoPlague
            [effect]
                apply_to=status
                add=unplagueable
            [/effect]
        [/object]
        [object]
            id = MCColMod
            [effect]
                apply_to = image_mod
                add = "RC(magenta>darkblue)"
            [/effect]
        [/object]
    [/modifications]
    extra_recruit = Horseman, Cavalryman, Mounted Fighter
    [filter_recall]
        race = human
    [/filter_recall]
#enddef

#define MP
    id = MP
    type = Mermaid Priestess
    unrenamable = yes
    name = _ "Lady Ariel"
    [modifications]
        {TRAIT_INTELLIGENT}
        {TRAIT_RESILIENT}
    [/modifications]
    extra_recruit = Mermaid Initiate, Merman Fighter, Merman Hunter
    [filter_recall]
        race = merman
    [/filter_recall]
#enddef



# Bad guys

#define CDH
    id = CDH
    unrenamable = yes
    gender = male
    name = _ "Duke Myrraent"
    type = General
    [modifications]
        {TRAIT_INTELLIGENT}
        {TRAIT_STRONG}
    [/modifications]
#enddef

#define CD
    id = CD
    unrenamable = yes
    gender = male
    name = _ "Crimson Duke"

    #ifhave ~add-ons/War_of_Legends/_main.cfg
    extra_recruit = Blood Apprentice, Blood Manipulator, Flesh Artisan, Fledgeling, Vampire Duelist, Vampire Noble, Thin Blood, Half Blood, Gargoyle, Marlgoyle
    type = Methusalem
    #else
    type = General
    extra_recruit = Ghost, Ghoul, Skeleton, Skeleton Archer, Revenant, Deathblade, Bone Shooter, Wraith, Shadow, Necrophage, Nightgaunt, Spectre, Draug, Banebow, Chocobone
    #endif

    [modifications]
        #ifhave ~add-ons/War_of_Legends/_main.cfg
        {TRAIT_VAMPIRE}
        #else
        [object]
            [effect]
                apply_to = new_attack
                name=fangs
                description= _ "fangs"
                type=blade
                range=melee
                damage=13
                number=2
                [specials]
                    {WEAPON_SPECIAL_DRAIN}
                    {WEAPON_SPECIAL_BACKSTAB}
                [/specials]
            [/effect]
            [effect]
                apply_to = alignment
                set = chaotic
            [/effect]
        [/object]
        #endif

        {TRAIT_INTELLIGENT}
        {TRAIT_STRONG}
    [/modifications]
#enddef

#define BBM
    id = BBM
    unrenamable = yes
    type = Assassin
    gender = male
    name = _ "Hidden Figure"
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_STRONG}
    [/modifications]
#enddef

#define BBH
    id = BBH
    unrenamable = yes
    type = Master at Arms
    name = _ "Baron Luroc"
    [modifications]
        {TRAIT_LOYAL}
        {TRAIT_STRONG}
    [/modifications]
#enddef

#define BB
    id = BB
    unrenamable = yes
    gender = male
    name = _ "Bloody Baron"

    #ifhave ~add-ons/War_of_Legends/_main.cfg
    type = Sword Dancer
    profile = "portraits/vampire-sword-dancer+female.png"
    extra_recruit = Bloodborn
    #else
    type = Master at Arms
    extra_recruit = Walking Corpse, Soulless
    #endif

    [modifications]
        #ifhave ~add-ons/War_of_Legends/_main.cfg
        {TRAIT_VAMPIRE}
        #else
        [object]
            [effect]
                apply_to = new_attack
                name=fangs
                description= _ "fangs"
                type=blade
                range=melee
                damage=8
                number=3
                [specials]
                    {WEAPON_SPECIAL_DRAIN}
                    {WEAPON_SPECIAL_BACKSTAB}
                [/specials]
            [/effect]
            [effect]
                apply_to = alignment
                set = chaotic
            [/effect]
        [/object]
        #endif

        {TRAIT_LOYAL}
        {TRAIT_STRONG}
    [/modifications]
#enddef
