#textdomain wesnoth-knights_of_the_silver_spire

#define DEATH_EVENTS
    {DEATH_MC}
    {DEATH_MP}
#enddef

#define DEATH_MC
    [event]
        name=last breath
        [filter]
            id=MC
        [/filter]
        [message]
            speaker=unit
            message= _ "I-I am sorry everyone... I fear I shall not be able to help anymore..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef

#define DEATH_MP
[event]
    name=last breath
    [filter]
        id=MP
    [/filter]
    [message]
        speaker=unit
        message= _ "Nooo... My people needed me..."
    [/message]
    [endlevel]
        result=defeat
    [/endlevel]
[/event]
#enddef
