#textdomain wesnoth-knights_of_the_silver_spire

#define DEATH_LOSS
[objective]
    condition=lose
    description= _ "Death of any loyal or leader unit, whether yours or allied"
[/objective]
#enddef

#define KILL_OBJECTIVE
[objective]
    condition = win
    description = _ "Defeat all enemy leaders"
[/objective]
#enddef

#define CARRYOVER_INFO_40
[gold_carryover]
    bonus=yes
    carryover_percentage=40
[/gold_carryover]
#enddef

#define CARRYOVER_EFFECT_40
[event]
    name = victory
    [endlevel]
        result = victory
        {NEW_GOLD_CARRYOVER 40}
    [/endlevel]
[/event]
#enddef

#define STANDARD_OBJECTIVES
[objectives]
    {KILL_OBJECTIVE}
    {DEATH_LOSS}
    {TURNS_RUN_OUT}
    {CARRYOVER_INFO_40}
[/objectives]
#enddef

#define SPECIAL_VICTORY
{DEATH_LOSS}
{TURNS_RUN_OUT}
{CARRYOVER_INFO_40}
#enddef

#define CARRYOVER_INFO_NONE
[gold_carryover]
    bonus = no
    carryover_percentage = 0
[/gold_carryover]
#enddef

#define CARRYOVER_EFFECT_NONE
[event]
    name = victory
    [endlevel]
        result = victory
        {NEW_GOLD_CARRYOVER 0}
    [/endlevel]
[/event]
#enddef

#define CARRYOVER_INFO_DIALOGUE
[gold_carryover]
    bonus=no
    carryover_percentage=100
[/gold_carryover]
#enddef

# Store gold at beginning and restore it at the end (along with no carryover)
#define CARRYOVER_EFFECT_DIALOGUE
[event]
    name = prestart
    [store_gold]
        side = 1
        variable = GOLD1
    [/store_gold]
    #ifdef MULTIPLAYER
        [store_gold]
            side = 2
            variable = GOLD2
        [/store_gold]
    #endif
[/event]

[event]
    name = victory
    [modify_side]
        side = 1
        gold = $GOLD1
    [/modify_side]
    #ifdef MULTIPLAYER
        [modify_side]
            side = 2
            gold = $GOLD2
        [/modify_side]
    #endif

    [endlevel]
        result = victory
        bonus = no
        carryover_percentage = 100
        carryover_add = yes
        carryover_report = no
        linger_mode = no
    [/endlevel]
[/event]
#enddef
