#textdomain wesnoth-knights_of_the_silver_spire

#define MUSIC_01
{INTRO_AND_SCENARIO_MUSIC battle-epic.ogg breaking_the_chains.ogg}
{EXTRA_SCENARIO_MUSIC wanderer.ogg}
{EXTRA_SCENARIO_MUSIC knolls.ogg}
#enddef

#define MUSIC_02
{INTRO_AND_SCENARIO_MUSIC revelation.ogg casualties_of_war.ogg}
{EXTRA_SCENARIO_MUSIC battle.ogg}
{EXTRA_SCENARIO_MUSIC knolls.ogg}
#enddef

#define MUSIC_03
{INTRO_AND_SCENARIO_MUSIC revelation.ogg breaking_the_chains.ogg}
{EXTRA_SCENARIO_MUSIC battle.ogg}
{EXTRA_SCENARIO_MUSIC casualties_of_war.ogg}
#enddef

#define MUSIC_04
{INTRO_AND_SCENARIO_MUSIC northerners.ogg frantic.ogg}
{LET_INTRO_MUSIC_FINISH}
{EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
{EXTRA_SCENARIO_MUSIC casualties_of_war.ogg}
#enddef

#define MUSIC_05
{INTRO_AND_SCENARIO_MUSIC into_the_shadows.ogg underground.ogg}
{LET_INTRO_MUSIC_FINISH}
#enddef

#define MUSIC_06
{INTRO_AND_SCENARIO_MUSIC suspense.ogg vengeful.ogg}
{LET_INTRO_MUSIC_FINISH}
{EXTRA_SCENARIO_MUSIC frantic.ogg}
{EXTRA_SCENARIO_MUSIC suspense.ogg}
#enddef

#define MUSIC_07
{INTRO_AND_SCENARIO_MUSIC revelation.ogg the_king_is_dead.ogg}
{EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
{EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
#enddef

#define MUSIC_08a
{INTRO_AND_SCENARIO_MUSIC transience.ogg weight_of_revenge.ogg}
{EXTRA_SCENARIO_MUSIC heroes_rite.ogg}
{EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
#enddef

#define MUSIC_08b
{INTRO_AND_SCENARIO_MUSIC love_theme.ogg heroes_rite.ogg}
{LET_INTRO_MUSIC_FINISH}
#enddef

#define MUSIC_09a
{INTRO_AND_SCENARIO_MUSIC main_menu.ogg northern_mountains.ogg}
{LET_INTRO_MUSIC_FINISH}
{EXTRA_SCENARIO_MUSIC loyalists.ogg}
{EXTRA_SCENARIO_MUSIC return_to_wesnoth.ogg}
#enddef

#define MUSIC_09b
{INTRO_AND_SCENARIO_MUSIC main_menu.ogg vengeful.ogg}
{EXTRA_SCENARIO_MUSIC northern_mountains.ogg}
{EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
#enddef

#define MUSIC_09c
{INTRO_AND_SCENARIO_MUSIC elf-land.ogg elvish-theme.ogg}
{LET_INTRO_MUSIC_FINISH}
{EXTRA_SCENARIO_MUSIC northern_mountains.ogg}
{EXTRA_SCENARIO_MUSIC battle-epic.ogg}
#enddef

#define MUSIC_10
{INTRO_AND_SCENARIO_MUSIC return_to_wesnoth.ogg return_to_wesnoth.ogg}
{LET_INTRO_MUSIC_FINISH}
#enddef